p,
button {
    margin: 0;
    font-size: 1.8rem;
}

h2,
select {
    font-size: 2rem;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    background-color: var(--blue-accent);
}

.history__text {
    color: var(--white-text);
    font-size: 1.6rem;
    margin: 0.6rem;

    a {
        color: var(--white-text);
    }
}

main {
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    height: fit-content;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.container__card {
    display: flex;
    flex-direction: row;
    width: 40rem;
    height: 20rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    img {
        width: 50%;
        object-fit: cover;
    
    }
}

.container__content {
    padding: 16px;
    background-color: #fff;
    width: 50%;

    h3 {
        margin: 0 0 10px;
        font-size: 18px;
        color: #1a2a5a;
    }
    p {
        margin: 0;
        font-size: 14px;
        color: #333;
    }
}